<%= render 'landing/navigation' %>
<div class="layout_block"></div>
<div class="layout_block"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render 'product' %>
    </div>
    <div class="col-lg-8">
      <%= render 'instagram_search' %>
    </div>
    </div>
  </div>              
</div>